@charse "UTF-8";

/**
 *  SCR106
 */
div#main_body table.cond106 {
    margin: 10px 0 10px 0;
}
div#main_body table.cond106 col.c1 {
    width: 110px;
    text-align: center;
}
div#main_body table.cond106 col.c2 {
    width: 285px;
    text-align: left;
}
div#main_body table.cond106 col.c3 {
    width: 110px;
    text-align: center;
}
div#main_body table.cond106 col.c4 {
    width: 285px;
    text-align: left;
}
div#main_body table.cond106 col.c5 {
    width: 50px;
    text-align: center;
}
div#main_body table.cond106 th,
div#main_body table.cond106 td {
	padding: 1px 1px;
}
div#main_body table.cond106 th {
	background: #f8f8f8;
	font-weight: bold;
}
div#main_body table.cond106 td {

}

/**
 *  SCR106 main list
 */
div#main_body table.list106 {
#    border-bottom: 2px solid #D6E1C7;
    border-collapse: collapse;
    border: solid 1px #999;
    table-layout: fixed;
}

div#main_body table.list106 .c21 {
    width: 44px;
    text-align: center;
}
div#main_body table.list106 .c22 {
    width: 80px;
    text-align: center;
}
div#main_body table.list106 .c23 {
    width: 140px;
    text-align: left;
}
div#main_body table.list106 .c24 {
    width: 140px;
    text-align: left;
}
div#main_body table.list106 .c25 {
    width: 80px;
    text-align: left;
}
div#main_body table.list106 .c26 {
    width: 40px;
    text-align: center;
}
div#main_body table.list106 .c27 {
    width: 90px;
    text-align: left;
}
div#main_body table.list106 .c28 {
    width: 140px;
    text-align: left;
}
div#main_body table.list106 th,
div#main_body table.list106 td {
    border: solid 1px #999;
    padding: 4px 6px;
}
div#main_body table.list106 th {
    background: #E6E6E6;
    white-space: ;
    color: #666;
    font-weight: bold;
}
div#main_body table.list106 td {
    white-space: ;
}
div#main_body table.list106 caption {
    text-align: left;
    margin: 5px 3px;
    padding: 0 3px 0 0;
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
}

