/**
 *  302 予約出庫
 */
@charse "UTF-8";

/*
 *  condition 302
 */
div#main_body div.cond302 {

}
div#main_body div.cond302 ul {
    
}
div#main_body div.cond302 ul li {
    display:block;
    float:left;
    line-height:28px;
    padding: 2px 0 0px 0px;
}
div#main_body div.cond302 ul li:nth-child(1) {
    width:750px;
}

div#main_body div.cond302 ul li label {
    display:block;
    float:left;
    text-align: right;
    border: none 1px black;
    padding: 3px 15px 3px 0;
    width:100px;

	background: #eee;
	font-weight: bold;
}
div#main_body div.cond302 ul li input,
div#main_body div.cond302 ul li select {
    margin: 3px 0 0px 2px;
}


/*
 *  302 main list
 */
div#main_body div.list302 {

}
div#main_body div.list302 h1 {
    display:block;
    float:left;
    width:850px;
    border: solid 1px black;
    overflow:hidden;
    background-color:#ccc;
}
div#main_body div.list302 h1 label:nth-child(1) {
    display:block;
    float:left;
    width: 40px;
    text-align: center;
    line-height:20px;
    border: none 1px black;
}
div#main_body div.list302 h1 label:nth-child(2) {
    display:block;
    float:left;
    width: 130px;
    text-align: left;
    line-height:25px;
    border: none 1px black;
}
div#main_body div.list302 h1 label:nth-child(3) {
    display:block;
    float:left;
    width: 130px;
    text-align: left;
    line-height:25px;
    border: none 1px black;
}
div#main_body div.list302 h1 label:nth-child(4) {
    display:block;
    float:left;
    width: 150px;
    text-align: left;
    line-height:25px;
    border: none 1px black;
}
div#main_body div.list302 h1 label:nth-child(5) {
    display:block;
    float:left;
    text-align: left;
    line-height:25px;
    border: none 1px black;
}

div#main_body div.list302 section {
    display:block;
    float:left;
    width:850px;
    height:30px;
    border: solid 1px black;
    overflow-x:hidden;
    overflow-y:scroll;

    transition-property: background-color, width, height;
    transition-duration:1s;
    transition-timing-function:ease-in-out;

    -moz-transition-property: background-color, width, height;
    -webkit-transition-property: background-color, width, height;
    -o-transition-property: background-color, width, height;
    -ms-transition-property: background-color, width, height;

    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
    -ms-transition-duration:1s;

    -moz-transition-timing-function:ease-in-out;
    -webkit-transition-timing-function:ease-in-out;
    -o-transition-timing-function:ease-in-out;
    -ms-transition-timing-function:ease-in-out;
}
div#main_body div.list302 section header{
    height:30px;
    background-color:#ddd;
}
div#main_body div.list302 section:hover{
/*div#main_body div.list302 section:active{*/
    height:200px;
}
div#main_body div.list302 section header label:nth-child(1) {
    display:block;
    float:left;
    height:20px;
    padding: 5px;
    border-right: solid 1px black;
    width: 24px;
    text-align: center;
}
div#main_body div.list302 section header label:nth-child(2) {
    display:block;
    float:left;
    height:20px;
    padding: 5px;
    border-right: solid 1px black;
    width: 120px;
    text-align: center;
}
div#main_body div.list302 section header label:nth-child(3) {
    display:block;
    float:left;
    height:20px;
    padding: 5px;
    border-right: solid 1px black;
    width: 120px;
    text-align: center;
}
div#main_body div.list302 section header label:nth-child(4) {
    display:block;
    float:left;
    height:20px;
    padding: 5px;
    border-right: solid 1px black;
    width: 140px;
    text-align: center;
}
div#main_body div.list302 section header label:nth-child(5) {
    display:block;
    float:left;
    height:20px;
    padding: 5px;
    text-align: left;
}

/**
 *  list 302
 */
div#main_body div.list302 section table {
#    border-bottom: 2px solid #D6E1C7;
    border-collapse: collapse;
    border: solid 1px #999;
    table-layout: fixed;
}
div#main_body div.list302 section table tr th:nth-child(1) {
    width: 80px;
    text-align: center;
}
div#main_body div.list302 section table tr th:nth-child(2) {
    width: 120px;
    text-align: left;
}
div#main_body div.list302 section table tr th:nth-child(3) {
    width: 140px;
    text-align: left;
}
div#main_body div.list302 section table tr th:nth-child(4) {
    width: 80px;
    text-align: left;
}
div#main_body div.list302 section table tr th:nth-child(5) {
    width: 50px;
    text-align: center;
}
div#main_body div.list302 section table tr th:nth-child(6) {
    width: 90px;
    text-align: left;
}
div#main_body div.list302 section table tr th:nth-child(7) {
    width: 150px;
    text-align: left;
}

div#main_body div.list302 section table tr th,
div#main_body div.list302 section table tr td {
    border: solid 1px #999;
    padding: 4px 6px;
}
div#main_body div.list302 section table tr th {
    background: #E6E6E6;
    white-space: ;
    color: #666;
    font-weight: bold;
}
div#main_body div.list302 section table tr td {
    white-space: ;
}
