@charse "UTF-8";

div#body {
    top: 0px;
}

div#reg {
    display: -webkit-box;　/* Safari,Google Chrome用 */  
    display: -moz-box;　/* Firefox用 */  
}

div#recv_reg {
    width: 50%;
    -webkit-box-ordinal-group: 1;　/* Safari,Google Chrome用（1番目に表示） */  
    -moz-box-ordinal-group: 1;　/* Firefox用（1番目に表示） */  
}

div#send_reg {
    width: 50%;
    -webkit-box-ordinal-group: 2;　/* Safari,Google Chrome用（1番目に表示） */  
    -moz-box-ordinal-group: 2;　/* Firefox用（1番目に表示） */  
}

div#reg div .caption {
    width: 100px;
    padding: 5px 5px 5px 5px;
    color: rgba(0,0,0,1);
    border: solid 1px rgba(210,210,210,1);
    background-color: rgba(210,210,210,1);
    box-shadow:         2px 2px 0px 0px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:    2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}

div#reg div table {
    table-layout:fixed;
    margin-top: 10px;
    border-left: 1px solid rgba(180,180,180,1);
    border-top: 1px solid rgba(180,180,180,1);
    border-spacing: 0;
    font: normal 13px 'ＭＳ ゴシック';
}

div#reg div table tr {

}

div#reg div table tr th {
    text-align: right;
    padding: 3px 2px 1px 0px;
}

div#reg div table tr td {
    text-align: right;
    padding: 3px 2px 1px 0px;
}

div#reg div table tr td:hover,
div#reg div table tr td.selected {
    color: rgba(255,255,255,1);
    background: rgba(0,0,0,1);
}

div#reg div table tr th,
div#reg div table tr td {
    border-color: #FFF #999 #999 #FFF;
    border-style: solid;
    border-width: 1px;
}

div#reg div table tr th {
    width: 34px;
    color: rgba(0,0,0,1);

    background: #BBBBBB;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#BBBBBB), to(#DDDDDD));
    background: -moz-linear-gradient(#BBBBBB, #DDDDDD);
    background: linear-gradient(#BBBBBB, #DDDDDD);

    border: solid 1px rgba(30,30,30,1);
    box-shadow:         2px 2px 0px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4);
    -moz-box-shadow:    2px 2px 0px 0px rgba(0,0,0,0.4);
}

div#reg div table tr th:first-child {
    width: 45px;
}

/**
 *  左のぼたんなど
 */
div#sub_body input[name="port"] {
    width: 70px;
    height: 25px;
    font-size: 24px;
    text-align: right;
}

div#sub_body input:focus[name="port"] {
    background-color:#ccffcc;
}

div#sub_body span {
    height: 25px;
    font-size: 12px;
    text-align: right;
}

div#sub_body fieldset {
    border: solid 1px rgba(30,30,30,1);
}

div#sub_body fieldset legend {
    text-align: center;
}

div#sub_body input[name="send_dreg"] {
    width: 90px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

div#sub_body input[name="send_dreg_value"] {
    width: 140px;
    height: 15px;
    font-size: 14px;
    text-align: right;
}

div#sub_body input:focus[name="send_dreg_value"] {
    background-color:#ccffcc;
}
