# git に追跡してほしく'ない'ファイル
# backup file for emacs
*~
*swp
*swo
*ORG
*SAV
*tmp
.gitignore
\#*
# variable file log..
test/
tmp/
log/
var/
var/**/*

# stander libralies
std/
# modeles for node.js
node_modules/
