<!DOCTYPE html>
<html>
  <head>
    <title><%= frameNavi.name %></title>
    <link rel='stylesheet' href='/stylesheets/html5reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<!-- 5-sep-2012 locos client library -->
    <script type="text/javascript" src="/javascripts/rcs/libclient.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <div id="body">
      <%- body %>
    </div>

    <div id="footer">
      <h3>Copyright (C) Rockos co.,Ltd. All Rights Reserved.</h3>
    </div>
  </body>
</html>
