<% if (socket_io_start == "1") { %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
var socket = io.connect();
socket.on("scr103_strlog", function (text) { 
    document.getElementById("strlog").innerHTML = text;
});
socket.on("scr103_rtvlog", function (text) { 
    document.getElementById("rtvlog").innerHTML = text;
});
socket.on("scr103_tmplog", function (text) { 
    document.getElementById("tmplog").innerHTML = text;
});
socket.on("scr103_elelog", function (text) { 
    document.getElementById("elelog").innerHTML = text;
});
</script>
<% } %>
<script type="text/javascript">
/*ローカルイベント*/
var send_iqy_PB = function() {
    document.getElementById('funcPB').name='send_iqy';
    document.main_form.submit();
}
</script>
<div id="contents">
    <div id="mainx">
    <form name="main_form" method="post" action="/scr/103" class="regist3">
        <section id="mailTray">
            <div id="operationPanel">
            <span class="<%= mesg_level_color %>"><%= mesg %></span>
            </div><!-- operationPanel -->
        </section> <!-- mailTray -->

        <br/>

        <table class="iqy103_mon">
            <col width="200">
            <col width="200">
            <col width="200">
            <col width="">
            <tr>
                <th><span class="">チェックイン数</span></th>
                <th><span class="">チェックアウト数</span></th>
                <th><span class="">トランク内温度</span></th>
                <th><span class="">使用電力</span></th>
            </tr>
            <tr>
                <td><span class="" id="strlog"></span>　</td>
                <td><span class="" id="rtvlog"></span>　</td>
                <td><span class="" id="tmplog"></span>℃　</td>
                <td><span class="" id="elelog"></span>kWh　</td>
            </tr>
        </table>

    </div> <!--mainx-->

    <div id="sub">
        <section id="createMail">
            <p><a href="#">作業モニタ</a></p>
        </section>
        <section id="folderList" class='regist'>
            <ul>
            <li class="current"><a href="#">Ａ棟</a></li>
            <li><INPUT type="hidden" id="funcPB" name="send_xxx" value="FUNC"></li>
            <li><a href="#" onclick="send_iqy_PB();">最新表示</a></li>
            </ul>
        </section>
    </div> <!-- sub -->

    </form>
</div> <!--contents-->


