<div id="content">
     <h1>指定した画面は存在しません</h1>


     <div id="footer">
         <ul>
	<li><a href="about.html">Locosについて</a></li>
        <li><a href="company.html">運営会社</a></li>
       <li><a href="privacypolicy.html">プライバシーポリシー</a></li>
     </ul>
																		       <p class="credit">Copyright (C) Locos co., Ltd. All Rights Reserved.</p>
																		       </div>
</div>
