
span.rockos-rest-machineNo {
    font-size: 18px;
    font-family: monospace;
    white-space: pre;
}

input.rockos-rest-machineNo {
    width: 1.5em;
    font-size: 20px;
}

span.rockos-rest-dateTimeA {
    font-size: 18px;
    font-family: monospace;
    white-space: pre;
    font-size-adjust: 0.5;
}

input.rockos-rest-dateTimeA.year {
    width: 2.8em;
    font-size: 20px;
}

input.rockos-rest-dateTimeA.month,
input.rockos-rest-dateTimeA.day,
input.rockos-rest-dateTimeA.hour,
input.rockos-rest-dateTimeA.minute {
    width: 1.5em;
    font-size: 20px;
}

span.rockos-rest-confirmComment {
    font-size: 18px;
    font-family: monospace;
    white-space: pre;
    font-size-adjust: 0.5;
}

input.rockos-rest-confirmComment {
    width: 50em;
    font-size: 18px;
}

span.rockos-rest-confirmUser {
    font-size: 18px;
    font-family: monospace;
    white-space: pre;
    font-size-adjust: 0.5;
}

input.rockos-rest-confirmUser {
    width: 25em;
    font-size: 18px;
}




