<div id="content">
     <h1>屏幕上，您指定不存在</h1>


     <div id="footer">
         <ul>
	<li><a href="about.html">对于Rockos</a></li>
        <li><a href="company.html">管理公司</a></li>
       <li><a href="privacypolicy.html">隐私权政策</a></li>
     </ul>
     <p class="credit">Copyright (C) Rockos co., Ltd. All Rights Reserved.</p>
     </div>
</div>
