<div id="contents">

	<div id="main">
		<section id="mailTray">
			<h1>受信トレイ</h1>
			<div id="operationPanel">
				<ul>
					<li><a href="#">返信</a></li>
					<li><a href="#">全員に返信</a></li>
					<li><a href="#">転送</a></li>
				</ul>
				<ul>
					<li><a href="#">迷惑メール報告</a></li>
					<li><a href="#">削除</a></li>
				</ul>
				<ul>
					<li><a href="#">印刷</a></li>
				</ul>
			</div>
			<div id="mailList">
				<form action="#" method="post">
					<table>
						<thead>
							<tr>
								<th><input type="checkbox"></th>
								<th>差出人</th>
								<th>件名</th>
								<th>日付</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><input type="checkbox"></td>
								<td>製造部検査係</td>
								<td>在庫欠品発生</td>
								<td>2012/05/08 10:00</td>
							</tr>
							<tr class="current"><
								<td> <input type="checkbox" checked>
								<td>業務部</td>
								<td>計画停電のお知らせ</td>
								<td>2012/05/06 16:32</td>
							</tr>
							<tr>
								<td><input type="checkbox"></td>
								<td>製造部製造1グループ</td>
								<td>商品を発送しました</td>
								<td>2012/01/05 14:22</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</section>
		<section id="mailDetail">
			<header>
				<h1>計画停電のお知らせ</h1>
				<ul>
					<li><span>From:</span>業務部</li>
					<li><span>To:</span>broadcast@a-sha.co.jp</li>
				</ul>
				<p><time datetime="2012-01-06T16:32:30+0900">2012/01/06 16:32</time></p>
			</header>
			<div class="body">
				6月10日〜12日にかけて予定しております計画停電について下記の通り実施いたします。<br>
				<br>
				------------------------------------------------------------<br>
				工場計画停電の通知 (文書番号: #000-000000-000000)<br>
				------------------------------------------------------------<br>
				日時: 2012年6月10日<br>
				時間： 7時~9時<br>
				停電範囲： A工場全域<br>
				<br>
				------------------------------------------------------------<br>
				日時: 2012年6月11日<br>
				時間： 7時~9時<br>
				停電範囲： B工場全域<br>
				<br>
				------------------------------------------------------------<br>
				最新状況は以下のURLをクリックしてご確認ください。<br>
				<a href="#">http://www.mdn-books.com/account</a><br>
				<br>
				------------------------------------------------------------<br>
				------------------------------------------------------------<br>
			</div>
		</section>
	</div>
	<div id="sub">
	     <section id="createMail">
		<h1>メール作成</h1>
		<p><a href="#">新規作成</a></p>
	      </section>
		<section id="folderList">
		<h1>フォルダ一覧</h1>
			<ul>
			<li class="current"><a href="#">受信トレイ</a></li>
			<li><a href="#">送信済みメール</a></li>
		        <li><a href="#">下書き</a></li>
			<li><a href="#">迷惑メール</a></li>
			<li><a href="#">ゴミ箱</a></li>
			</ul>
																			    </section>
																			</div>
</div>

<footer id="footer">
	<ul id="rulesNav">
		<li><a href="#">プライバシーポリシー</a></li>
		<li><a href="#">利用規約</a></li>
		<li><a href="#">ヘルプ</a></li>
		<li><a href="#">お問い合わせ</a></li>
	</ul>
	<p id="copyright"><small>© Locos</small></p>
</footer>

