<div id="contents">

	<div id="mainx">
		<section id="mailTray">
			<h1>受信トレイ</h1>
			<div id="operationPanel">
<!--
				<ul>
					<li><a href="#">返信</a></li>
					<li><a href="#">全員に返信</a></li>
					<li><a href="#">転送</a></li>
				</ul>
				<ul>

					<li><a href="#">削除</a></li>
				</ul>
				<ul>
					<li><a href="#">印刷</a></li>
				</ul>
-->
			</div>
			<div id="mailList">
				<form action="#" method="post">
					<table>
						<thead>
							<tr>
<!--								<th><input type="checkbox"></th>
-->
                                <th> </th>
								<th>差出人</th>
								<th>件名</th>
								<th>日付</th>
							</tr>
						</thead>
						<tbody>
							<tr>
                                <td> </td>
								<td>ヘルプデスク</td>
								<td>このデモについて</td>
								<td>2012/05/08 10:00</td>
							</tr>
							<tr class="current">
                                <td> </td>
								<td>ヘルプデスク</td>
								<td>言語の切換え</td>
								<td>2012/05/06 16:32</td>
							</tr>
							<tr>
                                <td> </td>
								<td>ヘルプデスク</td>
								<td>見える化画面とは</td>
								<td>2012/01/05 14:22</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</section>
<!--
        <iframe src="http://docs.google.com/gview?
        url=http://www.sample.com/sample.pdf&embedded=true" style="width:600px; height:500px;" frameborder="0"></iframe>
-->

		<section id="mailDetail">
			<header>

				<ul>
					<li><span>件名:</span>デモについてのご説明</li>
					<li><span>From:</span>ヘルプデスク</li>
					<li><span>To:</span>foo&ltat&gtvar.co.jp</li>
				</ul>

			</header>
			<div class="body">
				6月10日〜12日にかけて予定しております計画停電について下記の通り実施いたします。<br>
				<br>
				------------------------------------------------------------<br>
				工場計画停電の通知 (文書番号: #000-000000-000000)<br>
				------------------------------------------------------------<br>
				日時: 2012年6月10日<br>
				時間： 7時~9時<br>
				停電範囲： A工場全域<br>
				<br>
				------------------------------------------------------------<br>
				日時: 2012年6月11日<br>
				時間： 7時~9時<br>
				停電範囲： B工場全域<br>

			------------------------------------------------------------<br>
			</div>
		</section>
	</div>
	<div id="sub">
	     <section id="createMail">
		<h1>メール作成</h1>
		<p><a href="#">新規作成</a></p>
	      </section>
		<section id="folderList">
		<h1>フォルダ一覧</h1>
			<ul>
			<li class="current"><a href="#">受信トレイ</a></li>
			<li><a href="#">送信済みメール</a></li>
		        <li><a href="#">下書き</a></li>
			<li><a href="#">ゴミ箱</a></li>
			</ul>
																			    </section>
																			</div>
</div>


