<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/html5reset.css' />
    <link rel='stylesheet' href='/stylesheets/jqtransform.css' />
    <meta http-equiv="content-script-type" content="text/javascript"> 
<!--    <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/highcharts.js"></script>
    <script type="text/javascript" src="/javascripts/modules/exporting.js"></script>
    <script type="text/javascript" src="/javascripts/jqtransformplugin/jquery.jqtransform.js"></script>
    <script language="javascript">
      $(function(){
      $('form.regist').jqTransform({imgPath:'/javascripts/jqtransformplugin/img/'});
      });
      </script>

  </head>
  <body>

  <div id="body">
    <%- body %>
  </div>

  <div id="header">
	<div class="company"><a href="/">Rockos</a></div>
    <div class="comment">@@@</div>


<!--未ログイン-->
    <form method="post" action="check" >

      <table class="topLogin">
        <col width="160" align="right">
        <col width="280" align="right"> 
        <col width="240" align="right">
        <col width="130" align="right">
        <tr>
          <td></td>
          <td>
            <div>@@@@@@
              <input name="userid" type="text" />
            </div>
          </td>
          <td>
            <div>@@@
              <input name="password" type="password" />
            </div>
          </td>
          <td>
            <select name="lang">"言語選択"
              <option selected value='jp'>日本語</option>
              <option value='en'>English</option>
              <option value='kr'>한국어</option>
              <option value='ch'>中文</option>
            </select>
          </td>
        </tr>
      </table>

      <ul class="userInfo">
        <li class="login">
          <input type="submit" class="send setting" name="login" value="@@@"> 
        </li>
      </ul>
    </form>

</form>



<!--
    <ul class="topNavi">
      <li><a href="/scr/201">チェックイン</a>
        <ul>
          <li><a href="#">法人会員</a></li>
          <li><a href="#">個人会員</a></li>
          <li><a href="#">ビジター</a></li>
		</ul>
      </li>
      <li><a href="/scr/301">チェックアウト</a>
        <ul>
          <li><a href="#">法人会員</a></li>
          <li><a href="#">個人会員</a></li>
          <li><a href="#">ビジター</a></li>
		</ul>
      </li>
      <li><a href="/scr/701">レポート</a>
        <ul>
          <li><a href="#">チェックイン</a></li>
          <li><a href="#">チェックアウト</a></li>
		</ul>
      </li>
      <li><a href="#">見える化</a>
        <ul>
          <li><a href="/scr/102">グラフ</a></li>
          <li><a href="/scr/103">作業モニタ</a></li>
          <li><a href="/scr/104">グラフ(ﾘｱﾙﾀｲﾑ)</a></li>
          <li><a href="/scr/105">グラフ(static)</a></li>
        </ul>
      </li>
    </ul>
-->



  </div>

  <div id="footer">
    <h4><a href="http://rockos.co.jp/corp/">運営会社 ロコス株式会社</a></h4>
    <h3>Copyright (C) Rockos co., Ltd. All Rights Reserved.</h3>
  </div>

  </body>
</html>
