<div id="content_login">
     <h1></h1>

     <div id="form_login">
     	  <form method="post" action="check" >
		<p class="userid"><label for="userid">User ID</label><input name="userid" type="text" /></p>
		<p class="password"><label for="password">Password</label><input name="password" type="password" id="password" /></p>
        <select name="lang">"言語選択"
          <option selected value='jp'>日本語</option>
          <option value='en'>English</option>
          <option value='kr'>한국어 </option>
          <option value='en'>中文</option>
        </select>

		<p class="login"><input type="image" name="login" id="login" src="/images/arrow.png" /></p>
	  </form>
	</div>
     <div id="regist_login">
     <a href="/"><img src="/images/register.png" width="195" height="150" alt="クラウド型在庫管理システム" />
     </a></div>

     <div id="footer_login">
         <ul>
	<li><a href="http://rockos.co.jp/corp/">運営会社 ロコス株式会社</a></li>
       <li><a href="privacypolicy.html">プライバシーポリシー</a></li>
     </ul>
      <p class="credit">Copyright (C) Rockos co.,Ltd. All Rights Reserved.</p>
	 </div>
</div>
