<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>LOGIN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/html5reset.css' />
    <meta http-equiv="content-script-type" content="text/javascript"> 
  </head>
  <body>

  <div id="body">
    <%- body %>
  </div>

  <div id="header">
	<h1><img src="/images/logo.png"></h1>
	<ul class="userInfo">
		<li><b><%= userid %></b> (<a href="/">ログアウト</a>)</li>
		<li><a class="setting" href="#">設定</a></li>
	</ul>
  </div>

  </body>
</html>
