<form name="main_form" method="post" action="/scr/800">
  <INPUT type="hidden" id="funcPB" name="send_xxx" value="FUNC">
  <div id="main_body_800">
      <table>
        <colgroup>
        <col span="1" class="c1"/>
        <col span="1" class="c2"/>
        <col span="1" class="c3"/>
        <col span="1" class="c4"/>
        <tr>
          <th></th>
          <th>Sender</th>
          <th>Subject</th>
          <th>Date</th>
        </tr>
        <tr onclick="document.getElementById('funcPB').name='Demo';document.main_form.submit();">
		  <td></td>
          <td>Help desk</td>
          <td>About This Demo</td>
          <td>08 Mar 2012 10:00</td>
        </tr>
        <tr class="current" onclick="document.getElementById('funcPB').name='I18N';document.main_form.submit();">
          <td></td>
          <td>Help desk</td>
          <td>Switching the language</td>
          <td>06 Mar 2012 16:32</td>
        </tr>
        <tr onclick="document.getElementById('funcPB').name='Graph';document.main_form.submit();">
          <td>/~</td>
          <td>Help desk</td>
          <td>Visualization</td>
          <td>05 Feb 2012 14:22</td>
        </tr>
      </table>
  </div>
</form>
