<% layout('layout_mob') -%>

<!-- これはメニュー画面です -->

<form name="main_form" method="post" action="false;">
  <div data-role="content">
    <div class="content-primary main-content">
      <ul data-role="listview"> 
      <li data-role="list-divider">入庫</li> 
        <li><a href="/mob/811" data-transition="flip" data-ajax="false" >入荷予約</a></li> 
        <li><a href="/mob/811" data-transition="flip" data-ajax="false" >入庫</a></li> 
      <li data-role="list-divider">出庫</li> 
        <li><a href="/mob/821" data-transition="flip" data-ajax="false">計画</a></li> 
        <li><a href="/mob/821" data-transition="flip" data-ajax="false">計画出庫</a></li> 
        <li><a href="/mob/821" data-transition="flip" data-ajax="false">例外出庫</a></li> 
        <li><a href="/mob/821" data-transition="flip" data-ajax="false">棚卸</a></li> 
      <li data-role="list-divider">検索</li> 
        <li><a href="/mob/831" data-ajax="false">空棚検索</a></li> 
      <li data-role="list-divider">保守</li> 
        <li><a href="/mob/831" data-ajax="false">在庫修正</a></li> 
        <li><a href="/mob/831" data-ajax="false">マスタ登録</a></li> 
      <li data-role="list-divider">環境モニタ</li> 
        <li><a href="/mob/831" data-ajax="false">グラフ</a></li> 
        <li><a href="/mob/831" data-ajax="false">シーケンサ</a></li> 
        <li><a href="/mob/903" data-ajax="false">機械操作</a></li> 
      </ul>
    </div>
  </div><!--content-->
</form>

