<% layout('layout_mob') -%>

<!-- これはメニュー画面です -->

<form name="main_form" method="post" action="false;">
  <div data-role="content">
    <div data-role="collapsible-set" class="content-primary main-content">
      <% for (var i = 0, imax = frameSmaph.topMenu.length; i < imax; i++) { %>
      <div data-role="collapsible" data-theme="b">
      <h3><%=  frameSmaph.topMenu[i].name %></h3>
        <ul data-role="listview"> 
        <% for (var j = 0, jmax = frameSmaph.topMenu[i].subMenu.length; j < jmax; j++) { %>
          <li><a href="<%= frameSmaph.topMenu[i].subMenu[j].href %>" data-transition="flip" data-ajax="false"
          ><%= frameSmaph.topMenu[i].subMenu[j].name %></a></li> 
        <% } %>
        </ul>
      </div>
      <% } %>
    </div>
  </div><!--content-->
</form>

