<% layout('layout_mob') -%>
<%- stylesheet('/stylesheets/cstm/mob122.css') -%>

<script type="text/javascript" src="/javascripts/cstm/mob122.js"></script>
<script type="text/javascript" src="/javascripts/gauge.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.gauge.min.js"></script>


<form name="main_form" method="post" action="/mob/122" data-ajax="false">

  <div data-role="content">

    <canvas id="gauge01" width="300" height="300"></canvas>

  </div><!--content-->

</form>
