<% layout('layout') -%>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      </script>

<div class="row">
   <div class="col-md-4">
    <div class="row">
      <div class="adwords">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-4104980544511181";
      /* sub_link_md */
      google_ad_slot = "4896693156";
      google_ad_width = 468;
      google_ad_height = 15; 
      //-->
      </script>
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
      </div><!--/adwords-->
      </div><!--/row-->

      <div class="row">
         <div class="well sidebar-nav">
            <ul class="nav nav-list">
            <li class="nav-header">リンク先募集</li>
            <li class="active"><a href="http://workshop-mama.blogspot.jp">workshop mamaブログ</a></li>
            <li><a href="http://www.koganeicompass.com">こがねいコンパス</a></li>
            <li><a href="https://github.com/rockos/wshub">Somalワークショップ管理</a></li>
            <li><a href="http://salonhake.com/index.html">コミュニティサロンはけ</a></li>
            </ul>
         </div><!--/well-->
      </div><!--/row-->
      <div class="row">
         <a class="twitter-timeline" href="https://twitter.com/search?q=%23%E5%B0%8F%E9%87%91%E4%BA%95" 
         data-widget-id="371878860477825024">#小金井 に関するツイート</a>
         <!-- google adsense -->
         <script type="text/javascript"><!--
         google_ad_client = "ca-pub-4104980544511181";
         /* main_top */
         google_ad_slot = "6672868359";
         google_ad_width = 300;
         google_ad_height = 250;
         //-->
         </script>
         <script type="text/javascript"
         src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
         </script>
      </div><!--/row-->
      <div class="row">
         <!-- google adsense -->

         <script type="text/javascript"><!--
         google_ad_client = "ca-pub-4104980544511181";
         /* sub_link_md */
         google_ad_slot = "4896693156";
         google_ad_width = 468;
         google_ad_height = 15;
         //-->
         </script>
         <script type="text/javascript"
         src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
         </script>
      </div><!--/row-->
   </div><!--/col-md-4 -->
   <div class="col-md-8">
      <div class="row">
         <div class="col-md-12">
            <div id="carousel-main" class="carousel slide">
               <!-- Indicators -->
               <ol class="carousel-indicators">
               <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
               <li data-target="#carousel-main" data-slide-to="1"></li>
               <li data-target="#carousel-main" data-slide-to="2"></li>
               </ol>

               <!-- Wrapper for slides -->
               <div class="carousel-inner">
                  <div class="item active">
                     <img src="/images/cstm/komono.jpg" width="300" height="250" alt="Workshop"></img>
                     <div class="carousel-caption">
                     <h3>メイドインカフェ</h3>
                     <p> 
               何は偶然ちょうどその学問感というのの以上より帰っなです。ただいま生涯に支配感はとうていそうした不足たなでもを教えるばならないには記憶云っますたて、そうにも構うですうたます。</p>
                     </div>
                  </div>

                  <div class="item">
                     <img src="/images/cstm/baby_and_mother-300x247.png" width="300" height="250" alt="Babey">
                     <div class="carousel-caption"><h3>ベビマカフェ</h3>
                     <p>
               何は偶然ちょうどその学問感というのの以上より帰っなです。ただいま生涯に支配感はとうていそうした不足たなでもを教えるばならないには記憶云っますたて、そうにも構うですうたます。</p>
                     </div>
                  </div>

                  <div class="item">
                     <img src="/images/cstm/aloma-300x225.jpg" width="300" height="250" alt="アロマオイル">
                     <div class="carousel-caption"><h3>アロマカフェ</h3>
                    <p>
               何は偶然ちょうどその学問感というのの以上より帰っなです。ただいま生涯に支配感はとうていそうした不足たなでもを教えるばならないには記憶云っますたて、そうにも構うですうたます。</p>
                     </div><!--/row-->
                  </div>
               </div>
               Main contents 
               <!-- Controls -->
               <a class="left carousel-control" href="#carousel-main" data-slide="prev">
               <span class="icon-prev"></span>
               </a>
               <a class="right carousel-control" href="#carousel-main" data-slide="next">
               <span class="icon-next"></span>
               </a>
            </div><!--/corousel-main -->
         </div><!--/col-md-4-->

      </div><!--/row-->
      <div class="row">
         <div class="col-md-12">
            <div class="panel panel-info">
               <div class="panel-heading">ワークショップママ</div>
               <div class="panel-body">
               何は偶然ちょうどその学問感というのの以上より帰っなです。ただいま生涯に支配感はとうていそうした不足たなでもを教えるばならないには記憶云っますたて、そうにも構うですうたます。</div>
               <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            </div><!--/panel-->
         </div><!--/col-md-4-->

      </div><!--/row-->

      
      <div class="row">
         <% for (var i = 0, max = pageNavi.board.length; i < max; i++) { %>
         <div class="col-md-4">
             <a href=<% pageNavi.board[i].href %>
             <h3><%= pageNavi.board[i].title %></h3>
             </a>
             <p><%= pageNavi.board[i].limit %></p>
             <img src="/images/cstm/workshopmama.png" 
             width=140 height=140 alt="ahehe" class="img-thumbnail">
             <p><%= pageNavi.board[i].cont %></p>
         </div>
         <% } %>
      </div><!--/row-->

   </div><!--/col-md-8-->
</div><!--/row-->
