<!DOCTYPE html>
<html>
  <head>
    <title><%= frameNavi.name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/html5reset.css' />
    <link rel='stylesheet' href='/stylesheets/jqtransform.css' />
  </head>

  <body>

  <div id="print_body">
    <%- body %>
  </div>

  </body>
</html>
