<% layout('layout') -%>

<% if (socket_io_start == "1") { %>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/cstm/min/scr104.min.js"></script>
<% } %>
<script type="text/javascript">
/*ローカルイベント*/
var send_iqy_PB = function() {
    document.getElementById('funcPB').name='send_iqy';
    document.main_form.submit();
}
</script>

<form name="main_form" method="post" action="/scr/104">

  <div id="sub_body">
    <p><a href="#">ﾘｱﾙﾀｲﾑｸﾞﾗﾌ</a></p>
    <ul>
      <li><input type="submit" class="send" name="send_iqy" value="最新表示"><li>
    </ul>
  </div>

  <div id="main_body">
    <div class="mesg_bar">
      <span class="<%= mesg_level_color %>"><%= mesg %></span>
    </div>

    <table class="mon">
      <colgroup>
      <col span="2" class="c1">
          <tr>
            <th><span class="">温度</span></th>
            <th><span class="">稼働率</span></th>
          </tr>
          <tr>
            <td><span class="" id="tmplog">　</span></td>
            <td><span class="" id="worklog">　</span></td>
          </tr>
    </table>

<!------ Canvas Test for "glp001" ------>
    <canvas id="glp001" name="chart" width="800" height="200">
        図形を表示するには、canvasタグをサポートしたブラウザが必要です。
    </canvas>
<!------ Canvas Test for "glp002" ------>
    <canvas id="glp002" name="chart" width="800" height="200">
        図形を表示するには、canvasタグをサポートしたブラウザが必要です。
    </canvas>
  </div>

</form>


