<% layout('layout') -%>

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/cstm/min/scr103.min.js"></script>

<form name="main_form" method="post" action="/scr/103">
  <div id="main_body">

    <div class="state103">
      <table>
        <colgroup>
          <col class="c1">
          <col class="c2">
        <tr>
          <th rowspan="4"><img src="/images/car01.gif" /></th>
          <td><span id="v01_state_val01"></span></td>
        </tr>
        <tr><td><span id="v01_state_val02"></span></td></tr>
        <tr><td><span id="v01_state_val03"></span></td></tr>
        <tr><td><span id="v01_state_val04"></span></td></tr>

        <tr>
          <th rowspan="4"><img src="/images/car02.gif" /></th>
          <td><span id="v02_state_val01"></span></td>
        </tr>
        <tr><td><span id="v02_state_val02"></span></td></tr>
        <tr><td><span id="v02_state_val03"></span></td></tr>
        <tr><td><span id="v02_state_val04"></span></td></tr>

        <tr>
          <th rowspan="4"><img src="/images/car03.gif" /></th>
          <td><span id="v03_state_val01"></span></td>
        </tr>
        <tr><td><span id="v03_state_val02"></span></td></tr>
        <tr><td><span id="v03_state_val03"></span></td></tr>
        <tr><td><span id="v03_state_val04"></span></td></tr>

      </table>
    </div> 

    <div class="hidden">
    <div id="debug1" class="debug103">null</div>
    <div id="debug2" class="debug103">null</div>
    <div id="debug3" class="debug103">null</div>
    <div id="debug4" class="debug103">null</div>
    <div id="debug5" class="debug103">null</div>
    <div id="debug6" class="debug103">null</div>
    <div id="debug7" class="debug103">null</div>
    <div id="debug8" class="debug103">null</div>
    <div id="debug9" class="debug103">null</div>
    <div id="debug10" class="debug103">null</div>
    </div>

    <canvas id="map001" name="map001" width="800" height="700">
        図形を表示するには、canvasタグをサポートしたブラウザが必要です。842 x 742
    </canvas>
  </div>
</form>

