<% layout('layout') -%>
<div class="container">
    <!-- <fieldset>
        -->
        <h4>入力フォーム</h4>
    <!-- <div class="row">
   -->
    <form class="form-horizontal" role="form" method="POST" action="/scr/620">
        <dl class="dl-horizontal">
            <dt>
            <label class="control-label" for="InputEmail1">Email address</label>
            </dt>
            <dd>
            <input type="email"  class="input-lg col-mid-7" 
               name="id_mail" value="" 
               id="InputEmail1" placeholder="Enter email">
            </dd>
            <br>
            <dt>
            <label class="control-label" for="InputPassword1">パスワード</label>
            </dt>
            <dd>
            <input type="password" class="input-lg col-mid-7" 
               name="id_password" value="" 
               id="InputPassword1" placeholder="Password">
               </dd>
               <br>
            <dt>
            <label class="control-group" for="InputText">内容</label>
            </dt>
            <dd>
            <textarea class="form-control" rows="10"
               name="id_text" value="" 
               id="InputText" placeholder="here ...">
           </textarea>
            </dd>
            <!--
            </br>
            <dt>
            <label class="control-label" for="exampleInputFile">添付ファイル</label>
            </dt>
            <dd>
            <input class="input-lg col-mid-7" type="file" id="id_file">
            <p class="help-block">Example block-level help text here.</p>
            </dd>
            -->
            <dt></dt>
            <dd>
        <button type="submit" class="btn btn-primary input-medium"
            name="620_mail" value='aa'>送信</button>
        </dd>
        </dl>
        
    </form>
</div>

   <!--
    </fieldset>
    -->
    <!-- </div>
   -->
</div>
