<% layout('layout') -%>
<div class="container">
   <form class="form-horizontal" role="form" 
         method="POST" action="/scr/620/reg">
      <dl class="dl-horizontal">
         <dt>
            <label class="control-label" for="InputEmail1">メールアドレス</label>
         </dt>
         <dd>
            <input type="email"  class="input-lg col-mid-7" 
               name="email" value="" 
               id="InputEmail1" placeholder="必須">
         </dd>
         <br>
         <dt>
            <label class="control-label" for="Input">ニックネーム</label>
         </dt>
         <dd>
            <input type="text"  class="input-lg col-mid-7" 
               name="nickname" value="" 
               id="InputNickname" placeholder="必須">
         </dd>
         <br>
         <dt>
            <label class="control-label" for="Input">お住まい</label>
         </dt>
         <dd>
            <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" 
               type="button" data-toggle="dropdown">
            任意<span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
               <li>小金井</li>
               <li>国分寺</li>
               <li>小平</li>
            </ul>
            </div>
         </dd>
         <br>
         <dt>
            <label class="control-label" for="Input">性別</label>
         </dt>
         <dd>
            <div class="radio">
               <label>
                  <input type="radio" name="optionsSex" id="optionsSex" value="female" checked>
                  女性 
               </label>
            </div>
            <div class="radio">
               <label>
                  <input type="radio" name="optionsSex" id="optionsSex" value="male" checked>
                  男性 
               </label>
            </div>

         </dd>
         <br>
         <dt>
            <label class="control-label" for="InputPassword1">パスワード</label>
         </dt>
         <dd>
            <input type="password" class="input-lg col-mid-7" 
              name="id_password" value="" 
              id="InputPassword1" placeholder="必須">
         </dd>
         <br>
         <dt></dt>
         <dd>
            <button type="submit" class="btn btn-primary input-medium"
               name="620_regist" value='true'>登録</button>
            <button type="submit" class="btn btn-default input-medium"
               name="620_cancel" value='true'>キャンセル</button>
         </dd>
      </dl>
   </form>
</div><!--/container-->
