<% layout('layout') -%>
<form name="main_form" method="post" action="/scr/800">
  <INPUT type="hidden" id="funcPB" name="send_xxx" value="FUNC">
  <div id="main_body_800">
      <table>
        <colgroup>
        <col span="1" class="c1"/>
        <col span="1" class="c2"/>
        <col span="1" class="c3"/>
        <col span="1" class="c4"/>
        <tr>
          <th></th>
          <th>差出人</th>
          <th>件名</th>
          <th>日付</th>
        </tr>
        <tr onclick="document.getElementById('funcPB').name='Demo';document.main_form.submit();">
		  <td></td>
          <td>ヘルプデスク</td>
          <td>このデモについて</td>
          <td>2012/05/08 10:00</td>
        </tr>
        <tr 
          onclick="document.getElementById('funcPB').name='I18N';document.main_form.submit();">
          <td></td>
          <td>ヘルプデスク</td>
          <td>言語の切換え</td>
          <td>2012/05/06 16:32</td>
        </tr>
        <tr 
          onclick="document.getElementById('funcPB').name='Graph';document.main_form.submit();">
          <td></td>
          <td>ヘルプデスク</td>
          <td>見える化</td>
          <td>2012/01/05 14:22</td>
        </tr>
      </table>
  </div>

</form>

