@charse "UTF-8";

div#main_body canvas#gauge01 {
   border-style: none;
}
div#main_body canvas#gauge02 {
   border-style: none;
}
div#main_body canvas#gauge03 {
   border-style: none;
}
div#main_body canvas#gauge04 {
   border-style: none;
}

div#main_body table#main_table {
    table-layout: fixed;
#    border: 1px solid #999;
    border-style: none;
}
div#main_body table#main_table tr td {
    width: 200px;
#    border: 1px solid #999;
    border-style: none;
    vertical-align: top;
    text-align: center;
}

#gauge02,
#gauge03,
#gauge04 {
    padding-left: 40px;
}
/*
 * Button UI
 */
#machineSw {
    margin-top: 12px;
    margin-bottom: 13px;
}
#machineSw label {
    width: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#machineSw label.ui-state-default:nth-of-type(1) {
    background: rgba(00, 00, 204, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineSw label.ui-state-default:nth-of-type(2) {
    background: rgba(204, 00, 00, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineSw label.ui-state-default:nth-of-type(3) {
    background: rgba(110, 110, 110, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineSw label.ui-state-active:nth-of-type(1) {
    background: rgba(00, 00, 204, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSw label.ui-state-active:nth-of-type(2) {
    background: rgba(204, 00, 00, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSw label.ui-state-active:nth-of-type(3) {
    background: rgba(110, 110, 110, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSw label.ui-state-hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
}

#machineOL {
    margin-top: 2px;
    margin-bottom: 2px;
}
#machineOL label {
    width: 135px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#machineOL label.ui-state-default:nth-of-type(1) {
    background: rgba(00, 00, 204, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineOL label.ui-state-default:nth-of-type(2) {
    background: rgba(204, 00, 00, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineOL label.ui-state-active:nth-of-type(1) {
    background: rgba(00, 00, 204, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineOL label.ui-state-active:nth-of-type(2) {
    background: rgba(204, 00, 00, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineOL label.ui-state-hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
}

#machineST {
    margin-top: 2px;
    margin-bottom: 2px;
}
#machineST label {
    width: 90px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#machineST label.ui-state-default:nth-of-type(1) {
    background: rgba(00, 00, 204, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineST label.ui-state-default:nth-of-type(2) {
    background: rgba(110, 110, 110, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineST label.ui-state-default:nth-of-type(3) {
    background: rgba(204, 00, 00, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineST label.ui-state-active:nth-of-type(1) {
    background: rgba(00, 00, 204, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineST label.ui-state-active:nth-of-type(2) {
    background: rgba(110, 110, 110, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineST label.ui-state-active:nth-of-type(3) {
    background: rgba(204, 00, 00, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineST label.ui-state-hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
}

/*
 * Slider UI
 */
#slider01 {
    height: 20px;
    background: rgba(200, 200, 200, 1);
    margin-top: 15px;
    margin-bottom: 15px;
}
#slider01 .ui-slider-range {
    height: 20px;
    background: rgba(150, 150, 150, 1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#slider01 .ui-slider-handle {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(00, 204, 00, 1);
    background: rgba(00, 204, 00, 0.7);
}

#slider02 {
    height: 20px;
    background: rgba(200, 200, 200, 1);
    margin-top: 15px;
    margin-bottom: 15px;
}
#slider02 .ui-slider-range {
    height: 20px;
    background: rgba(150, 150, 150, 1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#slider02 .ui-slider-handle {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(00, 204, 00, 1);
    background: rgba(00, 204, 00, 0.7);
}

#slider03 {
    height: 20px;
    background: rgba(200, 200, 200, 1);
    margin-top: 15px;
    margin-bottom: 15px;
}
#slider03 .ui-slider-range {
    height: 20px;
    background: rgba(150, 150, 150, 1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#slider03 .ui-slider-handle {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(00, 204, 00, 1);
    background: rgba(00, 204, 00, 0.7);
}

/*
 *  Slider Value
 */ 
#slider01Value {
    text-align: right;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px solid rgba(00, 00, 00, 0.4);
    background: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 12pt;
    box-shadow:2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}

#slider02Value {
    text-align: right;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px solid rgba(00, 00, 00, 0.4);
    background: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 12pt;
    box-shadow:2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}

#slider03Value {
    text-align: right;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px solid rgba(00, 00, 00, 0.4);
    background: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 12pt;
    box-shadow:2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}


#machineView,
#machineView-2 {
    table-layout: fixed;
}

#machineView caption,
#machineView-2 caption {
    width: 100px;
    padding: 5px 5px 5px 5px;
    color: rgba(0,0,0,1);
    border: solid 1px rgba(72,209,204,1);
    background-color: rgba(72,209,204,1);
    box-shadow:         2px 2px 0px 0px rgba(0,0,0,0.4) inset;
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.4) inset;
    -moz-box-shadow:    2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}

#machineView thead tr,
#machineView-2 thead tr {
    height: ;
}

/**
 *  クレーン
 */

#machineView tbody th,
#machineView tbody td {
    border: solid 1px black;
    padding: 3px 0px 3px 0px;
    font: normal 12px Arial; 
    text-align: center;
    vertical-align: middle;
}

#machineView tbody th {
    background-color: #A9A9A9;
    color: #FFFFFF;
}

#machineView tbody td {
    background-color: rgb(51,51,51);
    color: #000000;
}

#machineView tbody tr th,
#machineView tbody tr td {
    font: normal 20px Arial; 
    vertical-align: middle;
}

#machineView tbody tr th {
    text-align: center;
    width: 150px;
}

#machineView tbody tr td {
    text-align: right;
    width: 150px;
}

#machineView tbody tr td div {
    padding-top: 3px;
    padding-right: 6px;
}

#machineView tbody tr td span {
    float: left;
    color: #FFF;
}


