@charse "UTF-8";

div#main_body canvas#gauge01 {
   border-style: none;
}
div#main_body canvas#gauge02 {
   border-style: none;
}
div#main_body canvas#gauge03 {
   border-style: none;
}
div#main_body canvas#gauge04 {
   border-style: none;
}

div#main_body table#main_table {
    table-layout: fixed;
#    border: 1px solid #999;
    border-style: none;
}
div#main_body table#main_table tr td {
    width: 200px;
#    border: 1px solid #999;
    border-style: none;
    vertical-align: top;
}

/*
 * Button UI
 */
#machineSw {
    margin-top: 15px;
    margin-bottom: 15px;
}
#machineSw label {
    width: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#machineSw label.ui-state-default:nth-of-type(1) {
    background: rgba(00, 00, 204, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border-style: none;
    font-weight: normal;
}
#machineSw label.ui-state-default:nth-of-type(2) {
    background: rgba(204, 00, 00, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border-style: none;
    font-weight: normal;
}
#machineSw label.ui-state-default:nth-of-type(3) {
    background: rgba(150, 150, 150, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border-style: none;
    font-weight: normal;
}
#machineSw label.ui-state-active:nth-of-type(1) {
    background: rgba(00, 00, 204, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSw label.ui-state-active:nth-of-type(2) {
    background: rgba(204, 00, 00, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSw label.ui-state-active:nth-of-type(3) {
    background: rgba(150, 150, 150, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSw label.ui-state-hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
}


/*
 * Slider UI
 */
#slider01 {
    height: 20px;
    background: rgba(200, 200, 200, 1);
    margin-top: 15px;
    margin-bottom: 15px;
}
#slider01 .ui-slider-range {
    height: 20px;
    background: rgba(150, 150, 150, 1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#slider01 .ui-slider-handle {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(00, 204, 00, 1);
    background: rgba(00, 204, 00, 0.7);
}

#slider02 {
    height: 20px;
    background: rgba(200, 200, 200, 1);
    margin-top: 15px;
    margin-bottom: 15px;
}
#slider02 .ui-slider-range {
    height: 20px;
    background: rgba(150, 150, 150, 1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#slider02 .ui-slider-handle {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(00, 204, 00, 1);
    background: rgba(00, 204, 00, 0.7);
}

#slider03 {
    height: 20px;
    background: rgba(200, 200, 200, 1);
    margin-top: 15px;
    margin-bottom: 15px;
}
#slider03 .ui-slider-range {
    height: 20px;
    background: rgba(150, 150, 150, 1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#slider03 .ui-slider-handle {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(00, 204, 00, 1);
    background: rgba(00, 204, 00, 0.7);
}

/*
 *  Slider Value
 */ 
#slider01Value {
    text-align: right;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px solid rgba(00, 00, 00, 0.4);
    background: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 12pt;
    box-shadow:2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}

#slider02Value {
    text-align: right;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px solid rgba(00, 00, 00, 0.4);
    background: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 12pt;
    box-shadow:2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}

#slider03Value {
    text-align: right;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border: 1px solid rgba(00, 00, 00, 0.4);
    background: rgba(255, 255, 255, 1);
    font-weight: normal;
    font-size: 12pt;
    box-shadow:2px 2px 0px 0px rgba(0,0,0,0.4) inset;
}





