
/**
 * snowshoe-MachineResultError.htm 
 *
 */
#resultErrorQueryMachineNo span,
#resultErrorQueryFromdate span,
#resultErrorQueryTodate span {
    font-size: 18px;
    font-family: monospace;
    white-space: pre;
    font-size-adjust: 0.5;
}

#resultErrorQueryMachineNo #machineNo {
    width: 1.5em;
    font-size: 20px;
}

#resultErrorQueryFromdate #fromYear,
#resultErrorQueryTodate #toYear {
    width: 2.8em;
    font-size: 20px;
}

#resultErrorQueryFromdate #fromMonth,
#resultErrorQueryTodate #toMonth, 
#resultErrorQueryFromdate #fromDay,
#resultErrorQueryTodate #toDay, 
#resultErrorQueryFromdate #fromHour,
#resultErrorQueryTodate #toHour, 
#resultErrorQueryFromdate #fromMinute,
#resultErrorQueryTodate #toMinute { 
    width: 1.5em;
    font-size: 20px;
}

#resultErrorConfirmComment span, 
#resultErrorConfirmUser span { 
    font-size: 18px;
    white-space: pre;
}

#resultErrorConfirmComment #comment { 
    width: 50em;
    font-size: 18px;
}

#resultErrorConfirmUser #user { 
    width: 25em;
    font-size: 18px;
}

#resultError table * {
    border: 1px solid #000;
}

#resultError table thead * {
    background: rgb(150,150,150);
}

#resultError table td, 
#resultError table th{
    font-size: 18px;
    white-space: pre;
    padding: 3px 3px 3px 3px;
}

#resultError table td:nth-child(1) {
    width: 40px;
    text-align: center;
}
#resultError table td:nth-child(2) {
    width: 9em;
}
#resultError table td:nth-child(3) {
    width: 3.5em;
    text-align: center;
}
#resultError table td:nth-child(4) {
    width: 15em;
}
#resultError table td:nth-child(5) {
    width: 2.5em;
    text-align: center;
}
#resultError table td:nth-child(6) {
    width: 15em;
}
#resultError table td:nth-child(7) {
    width: 5em;
}


/**
 *  snowshoe-Machinestatus.htm
 *
 */
/*
 * Button UI
 */
#machineSW {
    margin-top: 12px;
    margin-bottom: 13px;
}
#machineSW label {
    width: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#machineSW label.ui-state-default:nth-of-type(1) {
    background: rgba(00, 00, 204, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineSW label.ui-state-default:nth-of-type(2) {
    background: rgba(204, 00, 00, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineSW label.ui-state-active:nth-of-type(1) {
    background: rgba(00, 00, 204, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSW label.ui-state-active:nth-of-type(2) {
    background: rgba(204, 00, 00, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineSW label.ui-state-hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
}
#machineMD {
    margin-top: 2px;
    margin-bottom: 2px;
}
#machineMD label {
    width: 90px;
    padding-top: 2px;
    padding-bottom: 2px;
}
#machineMD label.ui-state-default:nth-of-type(1) {
    background: rgba(00, 00, 204, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineMD label.ui-state-default:nth-of-type(2) {
    background: rgba(110, 110, 110, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineMD label.ui-state-default:nth-of-type(3) {
    background: rgba(204, 00, 00, 0.3);
    color: rgba(255, 255, 255, 0.3);
    border-style: none;
    font-weight: normal;
}
#machineMD label.ui-state-active:nth-of-type(1) {
    background: rgba(00, 00, 204, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineMD label.ui-state-active:nth-of-type(2) {
    background: rgba(110, 110, 110, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineMD label.ui-state-active:nth-of-type(3) {
    background: rgba(204, 00, 00, 1);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
    box-shadow:3px 3px 0px 0px rgba(0,0,0,0.4) inset;
}
#machineMD label.ui-state-hover {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 1);
    border-style: none;
    font-weight: normal;
}


